body {
    background-color: #F1F0ED;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color:#FFE500;

    -webkit-text-stroke: 1px #747474;
}

.container {
    max-width: 600px;
    margin: 60px auto;
    background-color:#e2dfda;
    color: #FFE500;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;

    -webkit-text-stroke: 1px #747474;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #F1F0ED;

    -webkit-text-stroke: 1px #747474;
}


.city {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px dashed #b8b0a3;
}

.city:last-child {
    border: none;
}

h2 {
    margin: 0 0 5px;
    font-size: 30px;
}

.date {
    opacity: 0.7;
    font-weight: bold;
}

.time {
    font-size: 48px;
    font-weight: bold;
}

.time small{
    font-size: 20px;
    line-height: 50px;
    vertical-align: middle;
}

#back-to-homepage {
    text-align: center;
}


footer {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #6a1c3e;
}

a {
    text-decoration: none;
    color: #3b1f2b;
}

a:hover {
    text-decoration: underline;
}


@keyframes glow {
    0% {
        border-color: transparent;
        box-shadow: 0 0 10px #e7e3a1, 0 0 20px #e7e3a1, 0 0 30px #e7e3a1;
    }
    50% {
        border-color: #e7e3a1;
        box-shadow: 0 0 2px #f8f172, 0 0 10px #f8f172, 0 0 20px #f8f172;
    }
    100% {
        border-color: transparent;
        box-shadow: 0 0 10px #ece78b, 0 0 20px #e7e3a1, 0 0 30px #e7e3a1;
    }
}

.container {
    animation: glow 3s infinite alternate;
}

@keyframes clockwise-glow {
    0% {
        box-shadow: 0 0 0px #6c8cbf, 0 0 0px #6c8cbf;
    }
    25% {
        box-shadow: 5px 0 10px #6c8cbf, 5px 0 20px #6c8cbf;
    }
    50% {
        box-shadow: 5px 5px 10px #6c8cbf, 10px 10px 20px #6c8cbf;
    }
    75% {
        box-shadow: 0 5px 10px #6c8cbf, 0 10px 20px #6c8cbf;
    }
    100% {
        box-shadow: 0 0 0px #6c8cbf, 0 0 0px #6c8cbf;
    }
}

.city:hover {
    animation: clockwise-glow 3s infinite;
}